<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_异常捕捉.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0337F7BE1F307D7F008D1AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0337F7D21F307D80008D1AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0337F7DD1F307D80008D1AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
